<div class="modal">
<div class="m-auto modal_card2">
<%= form_with(model: profile) do |f| %>
  <% if profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-floating ">
    <%= f.text_field :fname, class: "form-control", id:"floatingInput", autofocus: true, autocomplete: "first name", placeholder: "First Name"%>
    <%= f.label :fname, 'First Name', for:"floatingInput", style: "display: block" %>
  </div>

  <div class="form-floating ">
    <%= f.text_field :lname, class: "form-control", id:"floatingInput", autofocus: true, autocomplete: "last name", placeholder: "Last Name"%>
    <%= f.label :lname, 'Last Name', for:"floatingInput", style: "display: block" %>
  </div>

    <div class="form-floating ">
    <%= f.text_field :tag, class: "form-control", id:"floatingInput", autofocus: true, autocomplete: "tag", placeholder: "Tag"%>
    <%= f.label :tag, 'Tag', for:"floatingInput", style: "display: block" %>
  </div>



  <div >
    <%= f.label :school_id, 'School', style: "display: block" %>
     <%= f.collection_select :school_id, School.order(:name),:id,:name, include_blank: true, value: :school_id%>
    <%= f.label :status, 'Distributor', style: "display: block" %>
    <%= f.check_box :status %>
  </div>

  <div style="text-align:center">

  </div>
 <div class="form-floating ">
    <%= f.number_field :user_id, value: Current.user.id, type: :hidden %>
  </div>
  
  <div>
    <%= f.submit data:{turbo:false}, class:"input-group-submit2" %>

  </div>
<% end %>
</div></div>