<% if notice %>
           <p class="notice1"><%= notice %></p> 
    <% end %>
    
    <% if alert %>
       <p class="alert2 alert-warning "><%= alert %></p>
      <%end%>

<% content_for :title, "Profiles" %>

<h1>Profiles</h1>

<div id="profiles">
  <% @profiles.each do |profile| %>
    <%= render profile %>
    <p>
      <%= link_to "Show this profile", profile %>
    </p>
  <% end %>
</div>

<%= link_to "New profile", new_profile_path %>
