<div class="card-height">
   <%@day = ((DateTime.now - comment.profile.created_at.to_datetime)).to_i%>
          <%@hours = ((DateTime.now - comment.profile.created_at.to_datetime) * 24 ).to_i%>
          <%@minutes = ((DateTime.now - comment.profile.created_at.to_datetime) * 24 * 60).to_i%>
    <div style="margin-top:2%">
          </div>
    <div class="comments-posted-avatar" style="margin-top:1%">
        <%= image_tag(comment.profile.avatar, class: "comment-avatar circle")%>
    </div>
    <div class="comments-posted-text">
    <div class="card card-content">        
        <div class="row">
        <div style="display:flex">
          <%=comment.profile.fname%>  
            <div style="font-size: 12px; margin-left: 15px; margin-top: 3px">
          <%if @minutes < 59%>
                 <%=@minutes%> minutes ago
            <%elsif @hours < 24%>
                 <%=@hours %> hours ago
            <% else %>
                 <%=@day %> days ago
            <%end%>
        </div></div>
         <p><%=comment.content%></p>

    </div>

    </div>
    
    
    </div>
</div>