
<%= form_with model: @comments, url: add_comment_path do |form|%>

    <div>
        <%=form.submit "Post", class:"input-group-text input-group-submit", data:{turbo:false}%>
    </div>
    <div>
        <%= form.text_field :content, class: "form-control", placeholder: "Add a comment..." %>
    </div> 

    <div>
    <%= form.number_field :posting_id, value: posting_id, type: :hidden %>
    <%= form.number_field :profile_id, value: profile_id, type: :hidden %>
  </div>
  
<% end %>