<p style="color: green"><%= notice %></p>


<div class="profile_block">
  <div class="grid-container">
  <div class="item2">  
    <div class="item2_text1"> 
     @<%= Current.profile.tag%>
    </div>  
    <div class="item2_text2">
      <%@schoolname = School.find_by(id: Current.profile.school_id)%>
    <%= @schoolname.name %>
    </div>

  </div>  
  <div class="item3">
    <img class="item3_img" src="https://mrwallpaper.com/images/thumbnail/cool-smiley-profile-picture-6lqzc2aegkuxbini.jpg">
  </div>  
  <div class="item4"></div>
  <div class="item5"> 

    <p class="item5_text1">  Posts   </p>
    <p class="item5_text2">  Customer   </p>
    <%if Current.profile.status%>
    <p class="item5_text3"> Distributor   </p>
    <%end%>
  </div>
</div>
 
  <div>
  </div>
  <%# <%= link_to "Edit this profile", edit_profile_path(Current.profile) %> 
  <%# <%= link_to "Back to profiles", profiles_path %> 

   <%= button_to "Destroy this profile", Current.profile, method: :delete %> 

</div>

   <%= Current.profile.posting.inspect%>
   <% @postings = Posting.where(profile_id: Current.profile.id)%>
   <br/>

     <% @postings.each do |posting| %>
    <%= @postings.inspect %>
    <p>
    </p>
  <% end %>


