<%# <h1>Home#index</h1> %>
  <%@schoolname = School.find_by(id: Current.profile.school_id)%>
    <%@schoolname.name %>
    <div class="home_text_card">
        <p class="home_text"> Hey <%= @profile.fname %>! Tell other profiles about your experience and recommendations. Help other cravers decide what they want to eat or should try! </p>
        <%= link_to "Post", add_post_path, class: "home_post_button"%>       
    </div>  
  <%Current.profile.posting.inspect%>
   <% @postings = Posting.where(school_id: Current.profile.school_id)%>
   <% @postings2 = Posting.find_by(id: 36)%>
   <br/> 


<div class="feed_post_rows"> 

      <% @postings.shuffle.each do |p| %>
    <% @postingUser = Profile.where(id: p.profile_id)%>
<%@imageHolder = Posting.find_by(id: p.id)%>

  <div id=<%= "box#{p.id}" %>>
    <div class="card " style="width: 25rem;">
        <div class="card-header">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="<%= "abox#{p.id}" %>-tab" data-bs-toggle="tab" href="#<%= "abox#{p.id}" %>" role="tab" aria-controls="<%= "abox#{p.id}" %>" aria-selected="true">Post</a>
              </li>
              <li class="nav-item"> 
                <a class="nav-link" id="<%= "bbox#{p.id}" %>-tab" data-bs-toggle="tab" href="#<%= "bbox#{p.id}" %>" role="tab" aria-controls="<%= "bbox#{p.id}" %>" aria-selected="false">Images</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="<%= "cbox#{p.id}" %>-tab" data-bs-toggle="tab" href="#<%= "cbox#{p.id}" %>" role="tab" aria-controls="<%= "cbox#{p.id}" %>" aria-selected="false">Comments</a>
              </li>
          </ul>
        </div>


    

        <div class="card-body card-body-height" >        
          <div class="tab-pane fade show active" id=<%= "abox#{p.id}" %> role="tabpanel" aria-labelledby="<%= "abox#{p.id}" %>-tab">
            <div>
              <%if p.img.present?%>
                <%= image_tag(p.img, class: "card-img-top", :alt => "API Img")%>
                <%else%>
                  <%= image_tag("", class: "card-img-top", :alt => "")%>
              <%end%>
              <%# <div class="avatar-div">
                <%= image_tag(p.profile.avatar, class: "card-avatar", :alt => "API Img")
              </div> %>
            </div> 

              <h5 class="card-title">@<%= p.profile.tag %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= @schoolname.name %></h6>

              <h5 class="card-title"><%= p.place %></h5>
              <h6 class="card-subtitle mb-2 text-muted">Experience: <%= p.rating %></h6>
              <h6 class="card-subtitle mb-2 text-muted"> <%= p.location %></h6>
            <p class="card-text">    <%= p.description %></p>            
          </div>


          <div class="tab-pane fade  " id=<%= "bbox#{p.id}" %> role="tabpanel" aria-labelledby="<%= "bbox#{p.id}" %>-tab">
              <h5 class="card-title"></h5>
              <h6 class="card-image-section mb-2 text-muted">
                <%@imageHolder.images_thumbnail.each do |i|%>
                <hr/>
                <%= link_to image_tag(i), i%>
                <%end%>
              </h6>
          </div>

          <div class="tab-pane fade  " id=<%= "cbox#{p.id}" %> role="tabpanel" aria-labelledby="<%= "cbox#{p.id}" %>-tab">

              <h5 class="card-title"> <%=render p.comment%></h5>
              <div  class="card-comment">
              <%= render partial: 'comments/form', locals: {postings: p.id}%>
          </div>
          </div>
          
          
        </div>
          <%@day = ((DateTime.now - p.created_at.to_datetime)).to_i%>
          <%@hours = ((DateTime.now - p.created_at.to_datetime) * 24 ).to_i%>
          <%@minutes = ((DateTime.now - p.created_at.to_datetime) * 24 * 60).to_i%>
          <small class="text-body-secondary">
        <div class="card-footer">
          <%if @minutes < 59%>
            Posted <%=@minutes %> minutes ago
          <%elsif @hours < 24%>
            Posted <%=@hours %> hours ago
          <% else %>
            Posted <%=@day %> days ago
          <%end%>
          </small>
        </div>
      </div>
      
    </div>
   <%end%>
    
</div>

