<%if Current.profile.status%>

    <div class="order_section">
    <% @ordersPending = Order.where( school_id:  Current.profile.school_id, pending: true)%>
        <h3>Available Jobs</h3>
        <hr/>
    </div>
        <div class="order_pending_rows"> 

        <% @ordersPending.each do |o|%>
        <% @profiles = Profile.where(id: o.profile_id)%>
        <% @profiles.each do |p| %>
            <div class="card card_design" style="width: 25rem;">
                <div class="card-body">
                    <h5 class="card-title-order"><%= o.restaurant %></h5>  
                    <h6 class="card-subtitle mb-2 text-muted card-title" style="text-align:center"><%= o.address%></h6>    
                    <hr/>
                    <h6 class="card-subtitle mb-2 text-muted">Placed by: <%= p.fname+" "+p.lname %></h6>
                    <h6 class="card-subtitle mb-2 text-muted">@<%= p.tag %></h6>
                    <h6 class="card-subtitle mb-2 text-muted">Tip: $<%=o.tip.round(2)%></h6>
                    <hr/>
                    <p class="card-text">    <%=  o.order%></p>
                    <%= link_to "Take Order", order_path, class: "home_post_button"%>  
                </div>
            </div>

        <% end %>
        <%end%>
        </div>

  


    <div class="order_section">
        <h3>Completed Jobs</h3>
        <hr/>
    </div>
        <div class="order_completed_rows"> 
        <% @ordersDone = Order.where( school_id:  Current.profile.school_id, pending: false)%>


        <% @ordersDone.each do |o|%>
        <% @profiles = Profile.where(id: o.profile_id)%>
        <% @profiles.each do |p| %>
        <div class="post_rows"> 
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h5 class="card-title-order"><%= o.restaurant %></h5>  
                    <h6 class="card-subtitle mb-2 text-muted card-title" style="text-align:center"><%= o.address%></h6>    
                    <hr/>
                    <h6 class="card-subtitle mb-2 text-muted">Placed by: <%= p.fname+" "+p.lname %></h6>
                    <h6 class="card-subtitle mb-2 text-muted">@<%= p.tag %></h6>
                    <h6 class="card-subtitle mb-2 text-muted">Tip: $<%=o.tip.round(2)%></h6>
                    <hr/>
                    <p class="card-text">    <%=  o.order%></p>
                </div>
            </div>
        </div>
        <% end %>
        <%end%>
<%end%>