<div class="modal">
<div class="m-auto modal_card2">
  <div style="text-align:center; margin-bottom: 20px">
<h2>Sign up</h2>
</div>
<%= form_with model: @user, url: sign_up_path do |f| %>
<% if @user.errors.any? %>
<div>
    <% @user.errors.full_messages.each do |message|%>
    <div>
    <%= message %>
    </div>
    <%end %>
  </div>
<%end%>
  <div class="form-floating ">
    <%= f.email_field :email, class: "form-control", id:"floatingInput", autofocus: true, autocomplete: "email", placeholder: "Email"%>
    <%= f.label :email, 'Email', for:"floatingInput", style: "display: block" %>
  </div>

    <div class="form-floating ">
    <%= f.password_field :password, class: "form-control", id:"floatingInput", autofocus: true, autocomplete: "password", placeholder: "Password"%>
    <%= f.label :password, 'Password', for:"floatingInput", style: "display: block" , autocomplete: "new-password" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
  </div>

  <div class="form-floating ">
    <%= f.password_field :password_confirmation, class: "form-control", id:"floatingInput", placeholder: "Password Confirmation", autocomplete: "new-password"%>
    <%= f.label :password_confirmation, 'Password Confirmation', style: "display: block" %>
  </div>


  <div class="actions">
    <%= f.submit "Sign up", data:{turbo:false},class:" input-group-submit2" %>
  </div>


  
<% end %>

</div>
</div>